<div>
  <div class="flex justify-between items-center">
    <a (click)="toggleNoteBookList(true)" routerLink="./notes"
      class="block text-xl font-semibold p-2 hover:bg-teal-700 flex-grow">NOTEBOOKS</a>

    <button (click)="toggleNoteBookList(!showNoteBooks)" class="ml-2 rounded-lg px-2 py-1">
      <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </button>

    <button (click)="addNotebookClicked = !addNotebookClicked"
      class="ml-2 rounded-lg px-2 py-1 bg-gray-100 text-slate-800 hover:text-gray-500">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>

  <app-notebook-input *ngIf="addNotebookClicked" (notebookAdded)="addNotebook($event)"></app-notebook-input>

  <ul class="bg-secondary p-2 space-y-2 transition-all duration-300 ease-in-out"
    [ngClass]="{'h-0 opacity-0': !showNoteBooks, 'h-auto opacity-100': showNoteBooks}">
    <li *ngFor="let notebook of Notebooks"
      class="p-2 rounded-md cursor-pointer hover:bg-teal-100 hover:text-gray-600 hover:font-semibold transition-colors "
      (click)="selectNotebook(notebook)">
      {{ notebook.name }}
    </li>
  </ul>
</div>