<div>
  <div class="flex justify-between items-center">
    <a routerLink="./notes"   class="text-xl font-semibold">NOTEBOOKS</a>
    <button (click)="addNotebookClicked = !addNotebookClicked" class="hover:text-indigo-500">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>

  <app-notebook-input *ngIf="addNotebookClicked" (notebookAdded)="addNotebook($event)"></app-notebook-input>

  <ul class="bg-secondary p-2 space-y-2">
    <li
      *ngFor="let notebook of Notebooks"
      class="p-2 rounded-md cursor-pointer hover:bg-teal-100 hover:text-gray-600 hover:font-semibold transition-colors "
      (click)="selectNotebook(notebook)"
    >
      {{ notebook.name }}
    </li>
  </ul>
</div>
