<div class="flex h-screen">
    <!-- Sidebar -->
    <div class="bg-blue-600 w-64 min-w-fit  text-white text-white" [ngClass]="{'px-2': !sidebarHidden}">

        <div class="flex flex-col h-screen">

            <div class="flex flex-col justify-between gap-4 mt-2">
                <div class="flex justify-between">
                    <h2 [ngClass]="{'hidden': sidebarHidden}" class="text-2xl font-bold">Note Keeper</h2>
                    <button (click)="toggleSidebar()" [class.fixed]="sidebarHidden" [class.sticky]="!sidebarHidden"
                        class="toggle-button bg-blue-100 p-2">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <p-divider [ngClass]="{'hidden': sidebarHidden}"></p-divider>

            </div>



            <div>
                <a routerLink="/dashboard/remainder" [ngClass]="{'hidden': sidebarHidden}"
                    class="block font-semibold p-2 hover:bg-blue-700 flex-grow">REMAINDER</a>

                <p-divider [ngClass]="{'hidden': sidebarHidden}"></p-divider>
            </div>

            <div>
                <a routerLink="/dashboard" [ngClass]="{'hidden': sidebarHidden}"
                    class="block font-semibold p-2 hover:bg-blue-700 flex-grow">DASHBOARD</a>
                <p-divider [ngClass]="{'hidden !m-[10px]': sidebarHidden}"></p-divider>
            </div>

            <div class="flex-grow relative overflow-y-auto notelist" [ngClass]="{'hidden': sidebarHidden}">
                <app-notebook-list></app-notebook-list>
            </div>

            <div class="flex justify-between align-center text-center p-2 cursor-pointer hover:bg-blue-500 rounded">
                <div class="flex gap-2 justify-between align-center text-center">
                    <img src="https://avatars.githubusercontent.com/u/68281476?v=4" alt="User Profile"
                        class="w-8 h-8 rounded-full">
                    <h2 [ngClass]="{'hidden': sidebarHidden}" class="text-xl font-semibold">John Doe</h2>
                </div>

                <div class="flex gap-2 justify-between align-center text-center bor">
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>

                </div>
            </div>
        </div>


    </div>


    <!-- Right Part -->
    <div class="w-5/6 bg-gray-100 flex-grow overflow-y-auto flex flex-col rightpart relative">
        <div class="flex flex-col flex-grow">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>