.rightpart::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar {
  display: none !important;
}

.toggle-button {
  top: 10px;
  left: 10px;
  width: fit-content;
  height: fit-content;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1000;
}