<div class="remaind-card p-6 bg-white border border-gray-200 rounded-lg shadow relative text-break">

    <div class="flex flex-col justify-between flex-grow">
        <div class="flex justify-between">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">{{remainder.title}}
            </h5>

            <button
                class="h-10 w-10 px-3 py-2 text-sm font-medium text-center text-slate-800 bg-gray-100 hover:bg-blue-100 rounded-full"
                (click)="OpenMenu()">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </div>
        <p class="mb-3 font-normal text-gray-700 ">{{remainder.body}}</p>

        <div *ngIf="isMenuOpen" (click)="closeMenu()" class="fixed top-0 left-0 w-screen h-screen  z-10"></div>

        <div *ngIf="isMenuOpen"
            class="absolute bg-gray-100 top-[70px] right-2 rounded-md bg-white border border-gray-200 shadow-lg p-2  z-40">
            <button
                class="card-menu-button px-3 py-1 rounded text-gray-600 hover:text-gray-800 hover:bg-gray-100 flex items-center gap-3"
                (click)="deleteRemainder()">
                <i class="fa fa-trash"></i> Delete
            </button>

            <button
                class="card-menu-button px-3 py-1 rounded text-gray-600 hover:text-gray-800 hover:bg-gray-100 flex items-center gap-3"
                (click)="editRemainder()">
                <i class="fa fa-edit"></i> Edit
            </button>
        </div>

        <div class="bg-gray-100 rounded-lg p-2">
            <span class="text-gray-500">
                <i class="fa fa-bell text-yellow-500"></i>
                Remainder
                <strong>
                    {{remainder.remainderDate | date: 'dd/MM/yyyy HH:mm:ss'}}
                </strong>
            </span>
        </div>
    </div>

</div>