<div class="note-card p-6 bg-white shadow rounded-lg relative" [style.background-color]="note.color">

  <div *ngIf="isMenuOpen" (click)="closeMenu()" class="fixed top-0 left-0 w-screen h-screen z-10"></div>
  <p-confirmDialog header="Confirmation" icon="fa fa-exclamation-triangle" width="425"></p-confirmDialog>

  <div class="flex justify-between items-center">
    <h3 class="text-lg font-semibold mb-4">{{ note.title }}</h3>

    <div class="relative inline-block flex gap-2">
      <button class="text-blue-600 hover:text-blue-800 p-2" (click)="editNote()">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="text-gray-600 hover:text-blue-800 p-2" (click)="OpenMenu()">
        <i class="fa fa-ellipsis-v"></i>
      </button>

      <div *ngIf="isMenuOpen"
        class="absolute top-5 right-2 rounded-md bg-white border border-gray-200 shadow-lg p-2 z-40">
        <button
          class="block px-3 py-1 rounded text-gray-600 hover:text-gray-800 hover:bg-gray-100 flex items-center gap-2"
          (click)="deleteNote()">
          <i class="fa fa-trash"></i> Delete
        </button>

        <button
          class="block px-3 py-1 rounded text-gray-600 hover:text-gray-800 hover-bg-gray-100 flex items-center gap-2"
          (click)="shareNote()">
          <i class="fa fa-share"></i> Share
        </button>

        <button
          class="block px-3 py-1 rounded text-gray-600 hover:text-gray-800 hover-bg-gray-100 flex items-center gap-2"
          (click)="moveNote()">
          <i class="fa fa-arrows-alt"></i> Move
        </button>
      </div>
    </div>
  </div>

  <div class="notesbody" [innerHTML]="renderedContent"></div>

  <ul *ngIf="note.listType === 'checkbox'" class="checklist">
    <li (click)="toggleCheckbox(i)" *ngFor="let item of note.listItems; let i = index;"
      class="flex items-center cursor-pointer">
      <span class="checkbox w-5 h-5 border border-gray-400 rounded-full mr-2" [class.checked]="item.checked">
      </span>
      {{ item.label }}
    </li>
  </ul>

  <ul *ngIf="note.listType === 'bullet'" class="bullet-list">
    <li *ngFor="let item of note.listItems">{{ item.label }}</li>
  </ul>

  <div class="flex justify-between">
    <p class="text-sm text-slate-600">{{ note.createdAt | amTimeAgo }}</p>
    <p>
      <button [ngClass]="{'text-gray-400': !note.isPinned, 'text-blue-600': note.isPinned, 'pinned': note.isPinned }"
        (click)="pinClicked()">
        <i class="fa fa-lg fa-thumb-tack rotate-30" aria-hidden="true"></i>
      </button>
    </p>
  </div>
</div>