.note-card {
  border: 1px solid #d8cece;
  border-radius: 8px;
  padding: 12px;
  margin: 10px;
  width: 220px;

}


.note-card p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

@media(max-width:800px) {
  .note-card {
    width: 95%;
  }
}

.checklist,
.bullet-list {
  list-style: none;
  padding: 0;
}

.checklist li,
.bullet-list li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #666;
  border-radius: 3px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.checkbox.checked {
  background-color: #1e40af;
  color: #fff;
  border: none;
}

.checkbox.checked::before {
  content: '\2713';
  /* Unicode checkmark character */
}

.bullet-list li::before {
  content: '•';
  color: #1e40af;
  font-size: 1.2rem;
  margin-right: 8px;
}


.note-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


::ng-deep .p-button.p-confirm-dialog-accept {
  background-color: #1e40af;
}

::ng-deep .p-button.p-confirm-dialog-reject {
  color: #666;
  background-color: white;
}