@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary-dark {
    color: #0052cc;
}

.bg-primary-dark {
    background-color: #0052cc;
}

.text-black-dark {
    color: #091e42;
}

.bg-primary-dark {
    background-color: #091e42;
}

*::-webkit-scrollbar {
    display: none !important;
}