<div class="p-1 w-full h-72">
  <form [formGroup]="shareForm" class="p-2">
    <p-autoComplete [unique]="true" [showClear]="true" [multiple]="true" [forceSelection]="true"
      formControlName="sharedWith" [suggestions]="emailSuggestions" (completeMethod)="searchEmails($event)"
      scrollHeight="300px" placeholder="Enter recipient's email" class="w-full"></p-autoComplete>

    <!-- Checkboxes for view, edit, and delete options -->
    <div class="mt-4 flex flex-wrap space-x-4" formGroupName="permissions">
      <!-- View checkbox -->
      <div class="flex items-center">
        <input type="checkbox" id="viewCheckbox" formControlName="view"
          class="form-checkbox h-5 w-5 text-blue-600 transition duration-150 ease-in-out" />
        <label for="viewCheckbox" class="ml-2 text-sm text-gray-700">View</label>
      </div>

      <!-- Edit checkbox -->
      <div class="flex items-center">
        <input type="checkbox" id="editCheckbox" formControlName="edit"
          class="form-checkbox h-5 w-5 text-blue-600 transition duration-150 ease-in-out" />
        <label for="editCheckbox" class="ml-2 text-sm text-gray-700">Edit</label>
      </div>

      <!-- Delete checkbox -->
      <div class="flex items-center">
        <input type="checkbox" id="deleteCheckbox" formControlName="delete"
          class="form-checkbox h-5 w-5 text-blue-600 transition duration-150 ease-in-out" />
        <label for="deleteCheckbox" class="ml-2 text-sm text-gray-700">Delete</label>
      </div>
    </div>

    <button [disabled]="!shareForm.valid" (click)="shareNotes()" [disabled]="!shareForm.valid" type="button"
      class="mt-4 p-2 text-sm font-medium text-white bg-blue-700 rounded-lg disabled:bg-slate-300 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Share
    </button>
  </form>
</div>